<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <% header.forEach(item => { %>
                    <th><%= item %></th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <% row.forEach(cell => { %>
                        <td><%= cell %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
